
  <div class="list-group">
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" class="list-group-item">Accueil</a>
    <a routerLink="/tags" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}" class="list-group-item">Tags</a>
    <a routerLink="/specialites" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}" class="list-group-item">Specialite</a>
    <a routerLink="/posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}" class="list-group-item">Posts</a>
    <a routerLink="/posts/ajout" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
      true}" class="list-group-item">Ajout post</a>
  </div>
