<!-- Middle Column -->
<div *ngFor="let post of posts" class="container card mt-4">
    <div class="mt-2">
        <div>
            <div class="float-left mr-4">
                <img src="assets/img/avatar.png" alt="Avatar" class="left circle margin-right" style="width:60px">
            </div>
            <div>
                <h5>Nabil Jahir</h5>
                <span class="opacity">{{ post.created_at }}</span>
            </div>
        </div>
        <hr class="clear">
        <h6>{{post.titre}}</h6>
        <p class="mb-2">{{ post.description }}</p>
        <div class="mb-3 mt-0">
            <h6 class="opacity8 mt-0 pt-0">Tags:</h6>
            <span *ngFor = "let tag of post.tags" class="tagSpan">{{ tag.label }}</span>
        </div>
        <div>
            <div *ngFor="let medecin of post.medecins" class="container card-rep ml-3 mt-2"><br>
              <div class="justify-content-md-center">
                  <div class="float-left mr-4">
                      <img src="assets/img/avatar.png" alt="Avatar" class="left circle margin-right" style="width:50px">
                  </div>
                  <div>
                      <h5>{{ medecin.nom }}</h5>
                      <span class="opacity">{{ medecin.pivot.created_at }}</span>
                  </div>
              </div>
              <hr class="clear">
              <p>{{ medecin.pivot.reponse }}</p>

          </div>
          <div class="form-inline mb-2 justify-content-md-center">
              <textarea class="form-control col-10" rows="2" [ngClass]="{'is-invalid' : error, 'is-valid' : !error }" [(ngModel)] = "post.nouv_reponse" placeholder="Aider cette personne ?" name="description"></textarea>

                <button type="button" class="button theme-d ml-2 my-2 btn-block col-2" (click)="ajouterReponse(post)">
                    <i class="fa fa-comment"></i>&nbsp;Repondre</button>
            </div>
        </div>
    </div>
</div><br>
