<!-- Middle Column -->
<div *ngFor="let post of posts" class="container card mt-4">
    <div class="mt-2">
        <div>
            <div class="float-left mr-4">
                <img src="assets/img/avatar.png" alt="Avatar" class="left circle margin-right" style="width:60px">
            </div>
            <div>
                <h5>Nabil Jahir</h5>
                <span class="opacity">{{ post.created_at }}</span>
            </div>
        </div>
        <hr class="clear">
        <h6>{{post.titre}}</h6>
        <p>{{ post.description }}</p>
        <h6 class="opacity8 mt-0 pt-0">Tags:</h6><span *ngFor = "let tag of post.tags" class="tagSpan">{{ tag.label }}</span>
        <div>
            <div *ngFor="let medecin of post.medecins" class="container card-rep ml-3 mt-2"><br>
              <div class="justify-content-md-center">
                  <div class="float-left mr-4">
                      <img src="assets/img/avatar.png" alt="Avatar" class="left circle margin-right" style="width:50px">
                  </div>
                  <div>
                      <h5>{{ medecin.nom }}</h5>
                      <span class="opacity">{{ medecin.pivot.created_at }}</span>
                  </div>
              </div>
              <hr class="clear">
              <p>{{ medecin.pivot.reponse }}</p>

          </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="button theme-d mb-2 btn-block col-4">
                    <i class="fa fa-comment"></i>&nbsp;Repondre</button>
            </div>
        </div>
    </div>
</div><br>
